<div class="center jumbotron">
  <h1>Welcome to My Application App</h1>
  
  <h2>This is the first home page for myapp in ruby</h2>
  <%=link_to "Sign Up Now!", "", class: "btn btn-lg btn-success" %>
</div>
<div class="row">
  <div class-"col-lg-4">
    <h3 class="midrow">
      View Applications as Guest User.
    </h3>
    <h2 class="left">Browse Apps a guest user and sign up later</h2>
    </p><%=link_to "Browse Application Listings", "", class: "btn btn-warning btn-small" %></p>
  </div>
    <div class-"col-lg-4">
    <h3 class="midrow">
      View Applications as Guest User.
    </h3>
    <h2 class="left">Browse Apps as a guest user and sign up later</h2>
    <p><%=link_to "Browse Application Listings", "", class: "btn btn-warning btn-small" %></p>
  </div>
    <div class-"col-lg-4">
    <h3 class="midrow">
      View Applications as Guest User.
    </h3>
    <h2 class="left">Browse Apps as a guest user and sign up later</h2>
    <p><%=link_to "Browse Application Listings", "", class: "btn btn-warning btn-small" %></p>
  </div>
</div>